<!DOCTYPE html>
<html>
  <head>
    <title>My Lght-Bulb Control Page</title>
    <link rel="icon" href="/static/img/lIcon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\main.css" />
    <script src="static\main.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="header">
          <h1>Light-Bulb Control</h1>
      </div>
      <div class="main">
        <div class="btns">
          <div class="container">
              <button class="btn" id="up" onclick="sendColor('up')">⬆️</button>
              <button class="btn" id="down" onclick="sendColor('down')">⬇️</button>
              <button class="btn" id="moon" onclick="sendColor('moon')">🌑</button>
          </div>
          <div class="container">
              <button class="btn" id="red" onclick="sendColor('red')">R</button>
              <button class="btn" id="green" onclick="sendColor('green')">G</button>
              <button class="btn" id="blue1" onclick="sendColor('blue1')">B</button>
          </div>
          <div class="container">
              <button class="btn" id="orange1" onclick="sendColor('orange1')"></button>
              <button class="btn" id="blue4" onclick="sendColor('blue4')"></button>
              <button class="btn" id="blue2" onclick="sendColor('blue2')"></button>
          </div>
          <div class="container">
              <button class="btn" id="orange2" onclick="sendColor('orange2')"></button>
              <button class="btn" id="purple" onclick="sendColor('purple')"></button>
              <button class="btn" id="blue3" onclick="sendColor('blue3')"></button>
          </div>
          <div class="container">
              <button class="btn" id="yellow" onclick="sendColor('yellow')"></button>
              <button class="btn" id="pink" onclick="sendColor('pink')"></button>
              <button class="btn" id="sun" onclick="sendColor('sun')">☀️</button>
          </div>
        </div>
      </div>
      <div class="main2">
          <input class="switch" type="checkbox" id="switch" onchange="toggleSwitch(this)">
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
