<!DOCTYPE html>
<html>
  <head>
    <title>My Lght-Bulb Control Page</title>
    <link rel="icon" href="/static/img/lIcon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\main.css" />
    <script src="static\main.js"></script>
  </head>
  <body>
    <div class="grid-container">
      <div class="header">
          <h1>Light-Bulb Control</h1>
      </div>
      <div class="main">
        <div class="btns">
          <div class="container">
              <button class="btn" id="up">⬆️</button>
              <button class="btn" id="down">⬇️</button>
              <button class="btn" id="moon">🌑</button>
          </div>
          <div class="container">
              <button class="btn" id="red">R</button>
              <button class="btn" id="green">G</button>
              <button class="btn" id="blue">B</button>
          </div>
          <div class="container">
              <button class="btn" id="orange1"></button>
              <button class="btn" id="blue4"></button>
              <button class="btn" id="blue2"></button>
          </div>
          <div class="container">
              <button class="btn" id="orange2"></button>
              <button class="btn" id="purple"></button>
              <button class="btn" id="blue3"></button>
          </div>
          <div class="container">
              <button class="btn" id="yellow"></button>
              <button class="btn" id="pink"></button>
              <button class="btn" id="sun">☀️</button>
          </div>
        </div>
      </div>
      <div class="main2">
          <input class="switch" type="checkbox" id="switch">
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
